@import url(./components/navbar.css);
@import url(anim.css);
@import url(flex.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-shade);
    color: var(--white);
}

h1{
    color: var(--light, var(--white));
    font-family: 'Sora';
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 90px */
    text-transform: capitalize;
}

h2{
    color: var(--light, var(--white));
    font-family: 'Sora';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 90px */
    text-transform: capitalize;
}
h3{
    color: var(--light, var(--white));
    font-family: 'Sora';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 90px */
    text-transform: capitalize;
}

h4{
    color: var(--light, var(--white));
    font-family: Sora;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 54px */
    letter-spacing: 0.2px;
}

h5{
    color: var(--light, var(--white));
    font-family: Sora;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 28px */
    letter-spacing: 0.448px;
}

p{
    color: var(--light, var(--white));
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.288px;
}

ul, li {
    list-style: none;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: var(--white);
    transition: all 0.2s ease;
}

a:hover {
    color: var(--pink);
}

button {
    border: none;
    color: var(--bg-shade);
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 3.333px;
    font-family: 'Sora';
    font-size: 18px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn--primary {
    border: none;
    color: var(--white);
    padding: 15px 20px;
    cursor: pointer;
    background: linear-gradient(90deg, var(--pink), var(--blue));
    border-radius: 3.333px;
    font-family: 'Sora';
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

button:hover{
    transform: translateY(-5%);
    box-shadow: var(--pink-oppocite) 0px 7px 29px 0px;
}

:root {
    --bg-shade: #0D0B0C;
    --pink: #DD24E1; 
    --blue: #5117F4;
    --white: #FFFFFF;
    --pink-oppocite: #de24e16e;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

section {
    padding: 25px 0;
}

.section--title {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-staff {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#scrollToTopBtn {
    z-index: 500;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: 2px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px!important;
    width: 40px!important;
    height: 40px!important;
    cursor: pointer;
    border-radius: 50%;
}
#scrollToTopBtn > svg {
    width: 25px;
    height: 25px;
}




/* hero section style */


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.hero__text::after {
    content: '';
    width: 655.777px;
    height: 511.766px;
    transform: rotate(-0.25deg);
    flex-shrink: 0;
    background: rgba(202, 34, 227, 0.22);
    filter: blur(225px);
    position: absolute;
    top: 0;
    z-index: -500;
}

.hero__text span {
    background: linear-gradient(90deg, var(--pink), var(--blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Sora;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    text-transform: capitalize;
}

.hero__text button {
    background: linear-gradient(90deg, var(--pink), var(--blue));
    color: var(--white);
    font-weight: bold;
}

.hero__text--statistic {
    display: flex;
    gap: 50px;
}

.statistic h2{
    font-weight: bold;
}
.hero__cards {
    position: relative;
    transition: all .5s ease;
}

.hero__cards:hover {
    transform: rotate(4deg);
 
}

.hero__cards::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -500;
    width: 350px;
    height: 500px;
    transform: rotate(-0.25deg);
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--pink), var(--blue));
    filter: blur(80px);
}

.hero__cards .card:nth-child(2) {
    position: absolute;
    top: 50px;
    right: 70px;
    transform: rotate(-20deg);
    z-index: -1;
}
.numb-count {
    display: flex;
    align-items: center;
    gap: 5px;
}
.numb-count pre {
    color: var(--light, var(--white));
    font-family: 'Sora';
    font-size: 48px;
    font-style: normal;
    color: var(--white);
    font-weight: 700;
    line-height: 125%; /* 90px */
    text-transform: capitalize;
}

.card {
    width: 300px;
}
.card__img {
    height: 300px;
}
.card__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card__sub {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 25px;
    border: 2px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(25px);
}
.card__sub p {
    font-size: 11px;
}
.card__sub--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card-user--name {
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-user--name img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.card-user--detal {
    width: 50%;
}

.card__sub--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-user--btn {
    width: 50%;
}
.card-user--btn > button {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 40px;
}

/* packages--section */

.packages--section {
    margin-top: 100px;
}

.packages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding: 50px 0;
    position: relative;
}

.packages::after{
    content: '';
    position: absolute;
    top: 0;
    z-index: -500;
    width: 850px;
    height: 700px;
    transform: rotate(-0.25deg);
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--pink), var(--blue));
    filter: blur(80px);
}

.package {
    border-radius: 12.3px;
    padding: 25px;
    border: 2px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}
.pc-mid {
    background: linear-gradient(90deg, var(--pink), var(--blue));
}
.package__paragraph {
    padding-left: 10px;
}
.package__paragraph li{
    list-style: disc;
}

/* lists--section */

.lists {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.list {
    cursor: pointer;
}

.list:hover {
    transform: translateY(-2%);
}

.list__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.list__head--txt h5, pre, a{
    font-family: 'Poppins';
}

.list__head--txt pre {
    font-size: 12px;
    color: var(--pink);
}

.lists__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 120px;
    position: relative;
}

.lists__left::after {
    content: '';
    position: absolute;
    bottom: 0;
    z-index: -500;
    width: 500px;
    height: 700px;
    transform: rotate(-0.25deg);
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--pink), var(--blue));
    filter: blur(80px);
}

.lists__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}
.lists__right::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -500;
    width: 500px;
    height: 700px;
    transform: rotate(-0.25deg);
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--pink), var(--blue));
    filter: blur(80px);
}

.list__img > img {
    object-fit: cover;
    width: 100%;
    border-radius: 30.333px;
}

/* staff */

.staffs {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 0;
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.staff__name {
    text-align: center;
}

.staff__img {
    width: 140px;
    height: 140px;
}

.staff__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* conclusion */

.conclusion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.conclusion__img {
    position: relative;
}

.conclusion__img > img {
    border-radius: 30.333px;
    width: 100%;
}

.conclusion__img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -500;
    width: 750px;
    height: 400px;
    transform: rotate(-0.25deg);
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--pink), var(--blue));
    filter: blur(100px);
}

/* footer */
footer {
    margin-top: 50px;
    background: linear-gradient(92deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.08) 100%);
    backdrop-filter: blur(25px);
    padding: 50px 0;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -500;
    width: 500px;
    height: 100%;
    transform: rotate(-0.25deg);
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--pink), var(--blue));
    filter: blur(80px);
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__top--navigation ul{
    display: flex;
    gap: 12px;
}

.footer__top--med{
    display: flex;
    gap: 25px;
}

.footer__top--med a {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer__top--med img {
    max-width: 25px;
}